:root {
  --blue: #3082c4;
  --red: red;
  --orange: #f90;
  --box-shadow: 0px 2px 2px black;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
}

﻿body {
  margin: 0;
}

.YMCA-T9D3fa-Navbar-module-nav {
  width: 100%;
  height: 8%;
  background-color: #1e80f7;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 3px #0003;
}

.YMCA-T9D3fa-Navbar-module-icon {
  min-width: 50px;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 30px;
  transition: background-color .1s ease-in-out;
  display: flex;
}

.YMCA-T9D3fa-Navbar-module-head {
  width: 100%;
  height: 8%;
  background-color: #1e80f7;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 3px #0003;
}

.YMCA-T9D3fa-Navbar-module-h1, .YMCA-T9D3fa-Navbar-module-warning_h1 {
  color: #fff;
}

.YMCA-T9D3fa-Navbar-module-text {
  color: #fff;
  font-size: 1em;
}

.YMCA-T9D3fa-Navbar-module-navbutton {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.YMCA-T9D3fa-Navbar-module-alarm {
  background-color: #e11;
}

.YMCA-T9D3fa-Navbar-module-warning {
  color: #ff0;
  margin-left: 10px;
  font-size: 35px;
}

.YMCA-ctfr6W-Device-module-container {
  gap: .5em;
  display: grid;
}

.YMCA-ctfr6W-Device-module-paragraph {
  text-align: center;
}

.YMCA-ctfr6W-Device-module-button {
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 1em;
}

.YMCA-ctfr6W-Device-module-options {
  text-align: center;
}

.YMCA-ctfr6W-Device-module-icon {
  color: var(--orange);
  vertical-align: top;
  filter: drop-shadow(var(--box-shadow));
  padding: 0;
}

.YMCA-v40VSa-Room-module-container {
  outline: 1px solid;
  grid-template-rows: minmax(100px, auto);
  gap: 1em;
  padding: 1em 0;
  display: grid;
}

.YMCA-v40VSa-Room-module-header {
  text-align: center;
}

.YMCA-v40VSa-Room-module-devices {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.YMCA-v40VSa-Room-module-icon {
  color: var(--orange);
  filter: drop-shadow(var(--box-shadow));
  vertical-align: top;
  padding: 0;
}

.YMCA-ZdBa8G-Building-module-container {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  display: grid;
}

.YMCA-ZdBa8G-Building-module-hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.YMCA-8A7HnG-history-module-hide {
  display: none;
}

.YMCA-8A7HnG-history-module-containerOfContainer {
  margin-bottom: 150px;
}

.YMCA-8A7HnG-history-module-containerHistory {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.YMCA-8A7HnG-history-module-roomName {
  font-size: 25px;
  font-weight: bold;
}

.YMCA-8A7HnG-history-module-sensorType {
  font-size: 20px;
  font-weight: bold;
}

.YMCA-8A7HnG-history-module-mainDivHistory {
  width: 45%;
  border-bottom: 2px solid;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 10px;
  display: flex;
}

.YMCA-8A7HnG-history-module-headerDivHistory {
  width: 100%;
  border-radius: 25px;
  justify-content: start;
  align-items: center;
  display: flex;
}

.YMCA-8A7HnG-history-module-historyInfo {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: start;
  display: flex;
}

.YMCA-8A7HnG-history-module-temperature, .YMCA-8A7HnG-history-module-humidity {
  flex-direction: column;
  margin: 10px;
  display: flex;
}

.YMCA-8A7HnG-history-module-temperatureHeader, .YMCA-8A7HnG-history-module-humidityHeader {
  margin-bottom: 5px;
}

.YMCA-8A7HnG-history-module-humidityDivHistory, .YMCA-8A7HnG-history-module-temperatureDivHistory {
  width: 100px;
  flex-direction: column;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .YMCA-8A7HnG-history-module-roomName {
    font-size: 20px;
    font-weight: bold;
  }

  .YMCA-8A7HnG-history-module-sensorType {
    font-size: 15px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 300px) {
  .YMCA-8A7HnG-history-module-roomName {
    font-size: 15px;
    font-weight: bold;
  }

  .YMCA-8A7HnG-history-module-sensorType {
    font-size: 12px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .YMCA-8A7HnG-history-module-mainDivHistory {
    width: 80%;
  }
}

/*# sourceMappingURL=index.681847e4.css.map */
