:root {
  --blue: #3082c4;
  --darker-blue: #28679b;
  --red: red;
  --orange: #f90;
  --brighter-orange: #ffe600;
  --yellow: #ff0;
  --box-shadow: 0px 2px 2px black;
  --background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: var(--background-color);
}

#root {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.YMCA-PVOdWW-Head-module-head {
  background-color: var(--blue);
  text-align: center;
  color: #fff;
  padding: 1em;
  font-size: 1.3em;
  font-weight: 600;
}

.YMCA-PVOdWW-Head-module-alarm {
  background-color: var(--red);
}

.YMCA-PVOdWW-Head-module-icon {
  color: var(--orange);
  vertical-align: top;
  filter: drop-shadow(var(--box-shadow));
  padding: 0;
  font-size: 1.2em;
  animation: YMCA-PVOdWW-Head-module-glowing .8s infinite;
}

@keyframes YMCA-PVOdWW-Head-module-glowing {
  0% {
    color: var(--orange);
  }

  50% {
    color: var(--brighter-orange);
  }

  100% {
    color: var(--orange);
  }
}

.YMCA-ctfr6W-Device-module-container {
  gap: .5em;
  display: grid;
}

.YMCA-ctfr6W-Device-module-paragraph {
  text-align: center;
}

.YMCA-ctfr6W-Device-module-button {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 1em;
}

.YMCA-ctfr6W-Device-module-button:active {
  background-color: var(--darker-blue);
  transform: translateY(2px);
}

.YMCA-ctfr6W-Device-module-button:hover {
  background-color: var(--darker-blue);
}

.YMCA-ctfr6W-Device-module-options {
  text-align: center;
}

.YMCA-ctfr6W-Device-module-icon {
  color: var(--orange);
  vertical-align: top;
  filter: drop-shadow(var(--box-shadow));
  padding: 0;
  animation: YMCA-ctfr6W-Device-module-glowing .8s infinite;
}

@keyframes YMCA-ctfr6W-Device-module-glowing {
  0% {
    color: var(--orange);
  }

  50% {
    color: var(--brighter-orange);
  }

  100% {
    color: var(--orange);
  }
}

.YMCA-v40VSa-Room-module-container {
  outline: 1px solid;
  grid-template-rows: minmax(100px, auto);
  gap: 1em;
  padding: 1em 0;
  display: grid;
}

.YMCA-v40VSa-Room-module-header {
  text-align: center;
}

.YMCA-v40VSa-Room-module-devices {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.YMCA-v40VSa-Room-module-icon {
  color: var(--orange);
  filter: drop-shadow(var(--box-shadow));
  vertical-align: top;
  padding: 0;
  animation: YMCA-v40VSa-Room-module-glowing .8s infinite;
}

@keyframes YMCA-v40VSa-Room-module-glowing {
  0% {
    color: var(--orange);
  }

  50% {
    color: var(--brighter-orange);
  }

  100% {
    color: var(--orange);
  }
}

.YMCA-ZdBa8G-Building-module-container {
  --grid-layout-gap: 1px;
  --grid-column-count: 4;
  --grid-item--min-width: 300px;
  --gap-count: calc(var(--grid-column-count)  - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr) );
  grid-gap: var(--grid-layout-gap);
  outline: 2px solid var(--background-color);
  display: grid;
}

.YMCA-ZdBa8G-Building-module-hide {
  display: none;
}

@media only screen and (min-width: 1800px) {
  .YMCA-ZdBa8G-Building-module-container {
    max-width: 75%;
    margin: auto;
  }
}

.YMCA-gzjnAa-Content-module-container {
  flex-grow: 1;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
}

.YMCA-8A7HnG-history-module-hide {
  display: none;
}

.YMCA-8A7HnG-history-module-containerOfContainer {
  margin-bottom: 150px;
}

.YMCA-8A7HnG-history-module-containerHistory {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.YMCA-8A7HnG-history-module-roomName {
  font-size: 25px;
  font-weight: bold;
}

.YMCA-8A7HnG-history-module-sensorType {
  font-size: 20px;
  font-weight: bold;
}

.YMCA-8A7HnG-history-module-mainDivHistory {
  width: 45%;
  border-bottom: 2px solid;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 10px;
  display: flex;
}

.YMCA-8A7HnG-history-module-headerDivHistory {
  width: 100%;
  border-radius: 25px;
  justify-content: start;
  align-items: center;
  display: flex;
}

.YMCA-8A7HnG-history-module-historyInfo {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: start;
  display: flex;
}

.YMCA-8A7HnG-history-module-temperature, .YMCA-8A7HnG-history-module-humidity {
  flex-direction: column;
  margin: 10px;
  display: flex;
}

.YMCA-8A7HnG-history-module-temperatureHeader, .YMCA-8A7HnG-history-module-humidityHeader {
  margin-bottom: 5px;
}

.YMCA-8A7HnG-history-module-humidityDivHistory, .YMCA-8A7HnG-history-module-temperatureDivHistory {
  width: 100px;
  flex-direction: column;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .YMCA-8A7HnG-history-module-roomName {
    font-size: 20px;
    font-weight: bold;
  }

  .YMCA-8A7HnG-history-module-sensorType {
    font-size: 15px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 300px) {
  .YMCA-8A7HnG-history-module-roomName {
    font-size: 15px;
    font-weight: bold;
  }

  .YMCA-8A7HnG-history-module-sensorType {
    font-size: 12px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .YMCA-8A7HnG-history-module-mainDivHistory {
    width: 80%;
  }
}

.YMCA-zl2r_a-Navbar-module-navbar {
  background-color: var(--blue);
  grid-template-columns: minmax(300px, 40em);
  justify-content: center;
  display: grid;
}

.YMCA-zl2r_a-Navbar-module-wrapper {
  justify-content: space-around;
  display: flex;
}

.YMCA-zl2r_a-Navbar-module-alarm {
  background-color: var(--red);
}

.YMCA-zl2r_a-Navbar-module-icon {
  color: #fff;
  font-size: 1.2em;
}

.YMCA-VaoMYG-NavButton-module-button {
  color: #fff;
  background-color: #0000;
  border: none;
  flex-direction: column;
  align-items: center;
  padding: .5em 0;
  font-size: 1.2em;
  display: flex;
}

/*# sourceMappingURL=index.584caf71.css.map */
