.container {
    display: grid;
    padding: 1em 0;
    grid-template-rows: minmax(100px, auto);
    outline: 1px solid;
}

.header {
    text-align: center;
}

.wrapper {
    text-align: center;
}

.devices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.icon {
    color: var(--orange);
    padding: 0;
    filter: drop-shadow(var(--box-shadow));
    font-size: 3em;
    animation: glowing 800ms infinite;
    margin: auto;
}

@keyframes glowing {
    0% {
        color: var(--orange);
    }

    50% {
        color: var(--brighter-orange);
    }

    100% {
        color: var(--orange);
    }
}