.container {
    display: grid;
    gap: 0.5em;
}

.paragraph {
    text-align: center;
}

.button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
}

.button:active {
    background-color: var(--darker-blue);
    transform: translateY(2px);
}

.button:hover {
    background-color: var(--darker-blue);
}

.options {
    text-align: center;
}

.icon {
    color: var(--orange);
    vertical-align: top;
    padding: 0;
    filter: drop-shadow(var(--box-shadow));
    animation: glowing 800ms infinite;
}

@keyframes glowing {
    0% {
        color: var(--orange);

    }

    50% {
        color: var(--brighter-orange);
    }

    100% {
        color: var(--orange);
    }
}