.head {
    background-color: var(--blue);
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
    color: white;
    font-weight: 600;
}

.alarm {
    background-color: var(--red);
    animation: alarming 800ms infinite;
}

.icon {
    color: var(--orange);
    vertical-align: top;
    padding: 0;
    filter: drop-shadow(var(--box-shadow));
    font-size: 1.2em;
    animation: glowing 800ms infinite;
}

@keyframes glowing {
    0% {
        color: var(--orange);
    }

    50% {
        color: var(--brighter-orange);
    }

    100% {
        color: var(--orange);
    }
}

@keyframes alarming {
    0% {
        background-color: var(--darker-red);
    }

    50% {
        background-color: var(--red);
    }

    100% {
        background-color: var(--darker-red);
    }
}